<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :money %>
    <%= form.text_field :money %>
  </div>

  <div class="field">
    <%= form.label :start_at %>
    <%= form.time_select :start_at %>
  </div>

  <div class="field">
    <%= form.label :end_at %>
    <%= form.time_select :end_at %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <select name="product[currency]">
      <option value="NTD">NTD</option>
      <option value="USD">USD</option>
      <option value="HKD">HKD</option>
    </select>
  </div>

  <div class="field">
    <%= form.label :tag_list %>
    <select name="product[tag_list][]" multiple= 'true'>
      <option value="tag1">tag1</option>
      <option value="tag2">tag2</option>
      <option value="tag3">tag3</option>
    </select>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
